@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');

.navBar{
  width: 100%;
  min-height: 55px;
  background: rgb(98, 144, 27);
  border: 3px solid burlywood;
  position: relative;
  overflow: inherit;
  margin: 0;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.navBarLeft {
  float: left;
  position: absolute;
  left: 2%;
  width: 40%;
  line-height: 55px;
}
.navBarLeftItem{
  color: white;
  font-family: 'Paytone One', sans-serif;
}

.navBarRight {
  float: right;
  position: absolute;
  right: 20%;
  line-height: 55px;
  width: 40%;
}

.navItem {
  padding: 4%;
  color: white;
  font-family: 'Paytone One', sans-serif;
}

.navItem:hover,  .navBarLeftItem:hover {
  color: greenyellow;
  text-decoration: none;
}

.footerBar {
  width: 100%;
  height: 70px;
  background: rgb(98, 144, 27);
  margin-top: 10%;
  position: absolute;
  overflow: hidden;
}

.footerItem {
  line-height: 70px;
}