 @import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 60px;
}
.navbar-brand {
  padding-left: 50px;
  font-size: 1.9rem;
  font-family: 'Paytone One', sans-serif;
  color: rgb(98, 144, 27) !important;
}
.nav-link{
  font-size: 1.1rem;
  font-family: 'Paytone One', sans-serif;
  color: rgb(98, 144, 27) !important;
}
.dropdown-item {
  font-size: .9rem;
  font-family: 'Paytone One', sans-serif;
  color: rgb(98, 144, 27) !important;

}

.navbar-brand:hover, .nav-link:hover{
  color: rgb(63, 138, 79) !important;
}

.social .iconLink {
   font-size: 4.5em;
   padding: 10% 10% 0 10%;
   color: white;
}

.footerBg{
  background: rgb(98, 144, 27);
}
