@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');

.navBar{
  width: 100%;
  min-height: 55px;
  background: rgb(98, 144, 27);
  position: relative;
  overflow: inherit;
  margin: 0;
}

ul.navBarRight{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.navItem{
  display: inline;
  padding: 4%;
  color: white;
  font-family: 'Paytone One', sans-serif;
}

.navBarLeft {
  float: left;
  position: absolute;
  left: 2%;
  width: 40%;
  line-height: 55px;
}
.navBarLeftItem{
  color: white;
  font-family: 'Paytone One', sans-serif;
}

.navBarRight {
  float: right;
  position: absolute;
  right: 20%;
  line-height: 55px;
  width: 40%;
}

.navItem {

}

.tw:hover,  .navBarLeftItem:hover {
  color: greenyellow;
  text-decoration: none;
}

.footerBar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(98, 144, 27);
    color: white;
    text-align: center;

}

.footerItem {
  line-height: 30px;
}

/* .dropdown {
  float: right;
  overflow: hidden;
} */

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .tw {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
